.*
!/.gitignore
Hyperspectral_Cloud_Retrievals/AVIRIS/AVHRR_Data/*
Hyperspectral_Cloud_Retrievals/AVIRIS/AVIRIS-Classic-data/*
Hyperspectral_Cloud_Retrievals/AVIRIS/AVIRIS-NG-data/*
MODIS_Cloud_Retrieval/MODIS_data/*
Hyperspectral_Cloud_Retrievals/VOCALS_REx/vocals_rex_data/README-info-89_001.txt
Hyperspectral_Cloud_Retrievals/VOCALS_REx/vocals_rex_data/SPS_25/README-info-89_002.txt
Radiative_Transfer_Physics/bhmie-matlab/*
Radiative_Transfer_Physics/HiTran_data/hitran_water_vapor_absorption_350_to_2600nm.par
Radiative_Transfer_Physics/Monte_Carlo/Monte_Carlo_videos/*

*.html
*.hdf
*.mat
*.nc
*.fig
*.pdf
*.png
*.jpg
*.jpeg
*.xlsx
*.par
*.mov
*.avi
*.PDS
*.tiff
*.tif
*.geo.tiff
*.out
*.INP
*.cls
*.hdf.jpg.1
*.h5
*.he5
*.mie.cdf
*.cdf

# Windows default autosave extension
*.asv

# OSX / *nix default autosave extension
*.m~

# Compiled MEX binaries (all platforms)
*.mex*

# Packaged app and toolbox files
*.mlappinstall
*.mltbx

# Generated helpsearch folders
helpsearch*/

# Simulink code generation folders
slprj/
sccprj/

# Matlab code generation folders
codegen/

# Simulink autosave extension
*.autosave

# Simulink cache files
*.slxc

# Octave session info
octave-workspace


*.txt
